<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="application.css" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="container">

            <h1 class="title">All Users</h1>
            <table class="scheduletable">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(users.length> 0) { %>
                        <% users.forEach(user=> { %>
                            <tr>
                                <td>
                                    <%= user.id%>
                                </td>
                                <td>
                                    <%= user.firstname%>
                                        <%= user.lastname%>
                                </td>
                                <td>
                                    <%= user.email%>
                                </td>
                                <td>
                                    <%= user.created%>
                                </td>
                            </tr>
                            
                            <% }) %>
                                <% } %>
                </tbody>
            </table>
        </div>
</body>
<%- include('../partials/footer.ejs') %>

</html>