 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"  type= "text/css" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title><%= title %></title>
  </head>

  <%- include('../partials/header.ejs') %>

  <body>
    <main>

      <img class="schedulelogo" src='../Assets/logo_mrcoffee.png' > 
      <div class="part1">
         <h1>All Current users</h1> 

      </div>
         <div class="part1">
      <table class="userstable" >
         <thead>
            <tr id="tablefirstpart">
               <th><b>User ID<b></th>
               <th><b>First name</b></th>
               <th><b>FLast name</b></th>
               <th><b>Email</b></th>
            </tr>
         </thead>
         <tbody>
            <!-- LOOP THROUGH ALL USERS -->
            <% for(let i = 0; i < users.length; i++) { %>
               <tr>
                  <!-- First name -->
                  <th><a href= "/users/<%=[i]%>/schedules"> <%= [i] %></a></td>
                  <td><a href= "/users/<%=[i]%>"> <%= users[i].firstname %></a></td>
                  <!-- Last name -->
                  <td><%= users[i].lastname %></td>
                  <!-- Email -->
                  <td><%= users[i].email %></td>
               </tr>
               <% } %>
         </tbody>
      </table> </div>
    </main>

    <%- include('../partials/footer') %>

  </body>
</html>
<div class="hidden submit-container">
   <input
     type="submit"
     name="submit"
     id="submit"
     class="submit"
     value="Send message"
   />
 </div>
 <input type="button" onclick="alert('Hello World!')" value="Click Me!">